<!-- 外部リンクセクション -->
<div class="card mb-4">
    <div class="card-header">
        <h5 class="mb-0">外部リンク</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-2">
                <a href="https://irbank.net/{{ company_code }}/ir?mw=2" target="_blank" class="btn btn-outline-primary w-100">
                    <i class="bi bi-graph-up"></i> IRバンク（IR情報）
                </a>
            </div>
            <div class="col-md-4 mb-2">
                <a href="https://irbank.net/{{ company_code }}/per?mw=2" target="_blank" class="btn btn-outline-primary w-100">
                    <i class="bi bi-bar-chart-line"></i> IRバンク（PER情報）
                </a>
            </div>
            <div class="col-md-4 mb-2">
                <a href="https://www.traders.co.jp/ipo/{{ company_code }}" target="_blank" class="btn btn-outline-primary w-100">
                    <i class="bi bi-building"></i> トレーダーズ（IPO情報）
                </a>
            </div>
        </div>
    </div>
</div> 